<h1>Hello, here is your list of exercises!</h1>

<form id="newExercise">
	Exercise:	
	<input type="text" name="exercise" id="exercise"><br>
	Reps:	
	<input type="number" name="reps" id="reps "min="1" max="10000"><br>
	Weight:	
	<input type="number" name="weight" id="weight "min="1" max="10000"><br>
	Date:	
	<input type="date" name="date" id="date"><br>
	LBS (checked) KG (unchecked):	
	<input type="checkbox" name="measurement" id="measurement" value="Pounds"><br>
	<input type="submit" name="Add Item" value="Add Item" id="addItemSubmit">
</form>
<br>

<table id="dataTable">
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>KG/LBS</th>
	</tr>
	{{#if results}}
		{{#each results}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.reps}}</td>
				<td>{{this.weight}}</td>
				<td>{{this.date}}</td>
				<td>{{this.lbs}}</td>
				<td>
					<form method="post">
						<input type="hidden" name="id" value="{{this.id}}">
						<input type="submit" name="Update" value="Update">
				    </form>
			    </td>
				<td>
					<form method="post">
						<input type="hidden" name="id" value="{{this.id}}">
						<input type="submit" name="Delete" value="Delete">
				    </form>
			    </td>
			</tr>
		{{/each}}
	{{/if}}
</table>
<script src="./script.js"></script>